* {
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
}

.top-nav {
	background-color: #000;
	padding: 30px;
}

.search {
	color: white;
	font-size: 20px;
}

.login,
.sign {
	padding: 3px 8px 3px 8px;
}

.like {
	background-color: rgb(0, 0, 200, 0.9);
	padding: 2px 5px 2px 5px;
	color: white;
}

.dislike {
	background-color: rgb(200, 0, 0, 0.9);
	padding: 2px 5px 2px 5px;
	color: white;
}

.submit {
	background-color: #eee;
	padding: 5px 10px 5px 10px;
	color: black;
}

input[type="search"],
input[type="password"] {
	padding: 3px;
}

main {
	padding: 15px;
}

section {
	border-left: 2px solid red;
	padding-right: 20px;
	margin: 0 0 20px 20px;
	box-shadow: 2px 2px 5px 0px black;
}

section:hover {
	cursor: pointer;
}

details {
	padding: 20px 0 20px 0;
	padding-left: 20px;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-bottom: 50px;
}

ul li {
	list-style-type: none;
}

ul li a:hover {
	background-color: #666;
	color: #000
}

ul li a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	border: 2px solid red;
}

.a {
	color: white;
	text-decoration: none;
	padding: 20px;
}

.top {
	float: right;
	margin-right: 10px;
}

footer {
	background-color: #000;
	height: 200px;
	padding-top: 70px;
}